*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif ;
    
    
}

body {
    background: #081b29;
    color:#fff;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
     align-items: 100;
     z-index: 100;

}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
   transition: .3s;
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 70px 10% 0;
}


.home-content {
    max-width: 500px; 
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h3 span {
    color: #0ef;
  
}

.home-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin: -3px 0;
    margin-left: -185px;
}


.home-content .text-animate {
    position: relative;
    width:  524.8px;
}

.home-content .text-animate span {
    font-size: 30px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #0ef;
    
}
 
.home-img {
 position: absolute;
 height: 100px;
 top: 150px;
 right: 0;
 width: 45%;
 background: transparent;
 
}

.btn-box {
   position: relative;
    display: flex;
    font-style: italic;
    justify-content: space-evenly;
    width:  452px;
    height: 60px;
   

  
}

.btn-box .btn {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: #0ef;
    border: 2px solid #0ef;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s ease;
    margin: 30px 15px 30px 0;
    margin-bottom: 40px;
}


.btn-box .btn:hover {
    color: #081b29;
    transform: scale(1.1);
}




.social-media a {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 background: transparent;
 border: 2px solid #0ef;
 border-radius: 50%;
 font-size: 20px;
 color: #0ef;
 text-decoration: none;
 margin: 70px 15px 30px 0;
 transition: .5s ease;
 }

 .social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
 }



 .about {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    background: #081b29 ;
    margin: 50px;
   
}

.heading {
    font-size: 39px;
    margin: 80px;
    text-align: center;
}

span {
    color: #0ef;
}




.about-img {
 display: flex;
align-items: center;    
}

.left-image {
    max-width: 200%; 
    height: auto;
    margin-left: 90px;
    width: 19%;
    border-radius: 10%;
}



.about-content h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif ;
    color: #0ef;
   text-decoration: underline;
   margin-left: 64px;

   
 }
 
 .about-content p {
  font-size:16px;
  margin:55px;
  width: 70%; 

 
 }
 pre {
    margin: 45px;
 }
 
 b {
color: #0ef;
margin: 10px;
font-size: 16px;
margin-left: -50px;
 }



 .heading1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
     margin: 150px;
     
 }
 
 span{
    color: #0ef;
 }



 .contact {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    min-height:auto;
    padding-bottom:40px;

   
}


.contact .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}



.contact .card {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}


.card:hover {
    transform: scale(1.1);

}


.info {
    text-align: center;
}

.info h3 {
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif ;
}

.contact .info p {
    font-size: 18px;
    color: black;
    margin: 10px;
  
}





body1 {
    background-color: #081b29;
    color:#fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}


.headerr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
     align-items: 100;
     z-index: 100;
 


}

.logoo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
   
}


.navbare a {
    color: #ededed;
    font-size: 20px;
    text-decoration:none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    margin: 100px;

}
.navbare a:hover,
.navbare .active{
    font-size: 22px;
    color: #0ef;
}



.container3 {
    display: flex;
    justify-content: flex-start; 
    gap: 30px; 
  }


.card1 {
    width: 350px; 
    text-align: center;
    padding: 20px;
    border: 1px solid #081b29;
    border-radius: 5px;
    box-shadow: 0 4px 8px #0ef;
  }
  
  .card1 img {
    max-width: 100%;
    height: auto;
  }
  
  .suu {
    font-size: 20px; 
    margin: 10px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0ef;
    color: #081b29;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s ease;
    letter-spacing: 1px;
    border: 2px solid #0ef;
    
  }
  
  .btn:hover {
    background-color: #0ef;
    transform: scale(1.1);
  }
  



  .background6 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: backgroundAnimation 10s infinite alternate;
    background: linear-gradient(-45deg, black, white, gray, lightblue, blue);
    background-size: 400% 400%;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}



.menu {display: flex;}
.menu li {padding-left: 50px;
font-size: 20px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 800px){
  .home-img {
    display: none;
  
  }

.about-img{
    margin-left: -70px;
}
.about-content p {
    width: 90%;
}
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #1f242d;
        transition: all 0.2s ease-in-out;
    }
    .navbar a {
        color: white;
        margin: 10px;
    }
    .navbar a:hover {
        color: #0ef;
    }
    
  
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right:0px;}

.container3{
    width: 80%;
}

    html, body , .container {
        height: 100%;
        margin: 0;
        overflow-x: hidden;
      }
      
}

@media screen and (max-width: 450px) {
    .home-img{
        display: none;
         }

         .heading {
            font-size: 33px;
         }
         .about-img{
            margin-left: -30px;
           width: 170%;
         }


.about-content h3 {
    font-size: 24px;
    margin-top: -45px;
    margin-left: -50px;
}

.about-content pre {
    margin-left: -80px;
    font-size: 13.5px;
}

.about-content p {
    width: 80%;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 20px;
}

    
         .logo {
            font-size: 18px;
            font-weight: 600;
            margin-left: -25px;
         }
    
         .home-content h3 {
          font-size: 25px;
          
         }
        .text-animate span {
          margin-left: 10px;
        }
         .home-content h1 {
            font-size: 25px;
            margin-left: -270px;
            
           }
           .btn-box{
            margin-left: 5px;
            width: 60%;
            height: 40px;
          
            }
            .menu {
               
                width: 50%;
               
            }

            .container3{
                margin-left: 10px;
              
            }
           
    html, body , .container {
        height: 100%;
        margin: 0;
        overflow-x: hidden;
      }
}


@media screen and (max-width: 400px) {
    .heading {
        font-size: 25px;
     }
     .about-img{
        margin-left: -60px;
       width: 170%;
     }


.about-content h3 {
font-size: 24px;
margin-top: -45px;
margin-left: -80px;
}

.about-content pre {
margin-left: -85px;
font-size: 12px;
}

.about-content p {
width: 80%;
margin-top: 10px;
font-size: 14px;
margin-left: 20px;
}
.container3{
    display: inline-block;
}
.card1{
    width: 70%;
    margin: 20px;
    margin-left: 50px;
   
   
}

html, body , .container {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

}

@media(max-width: 320px){
   
.img{
    display: none;
     }

     .heading {
        font-size: 25px;
     }
     .about-img{
        margin-left: -110px;
       width: 170%;
     }


.about-content h3 {
font-size: 20px;
margin-top: -45px;
margin-left: -60px;
}

.about-content pre {
margin-left: -74px;
font-size: 11px;
}

.about-content p {
width: 70%;
margin-top: 10px;
font-size: 12px;
margin-left: 20px;
}


     .logo {
        font-size: 16px;
        font-weight: 600;
        margin-left: -25px;
     }

     .home-content h3 {
      font-size: 18px;
      
     }
    .text-animate span {
      margin-left: -20px;
    }
     .home-content h1 {
        font-size: 18px;
        margin-left: -330px;
        
       }
    
    
       .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #1f242d;
        transition: all 0.2s ease-in-out;
    }
    .btn-box{
        margin-left: -15px;
        width: 53%;
        height: 40px;
      
        }
 
        .social-media {
         height:100px ;
         width: 50%;
        }
  
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right:0;}

.heading1{
    font-size: 30px;
    margin: 105px;
}

.content {
    width: 100%;
    height: 60px;
}

.container3{
    display: inline-block;
}
.card1{
    width: 70%;
    margin: 50px;
    height:200px;
    margin-left: 30px;
}

    html, body , .container {
        height: 100%;
        margin: 0;
        overflow-x: hidden;
      }
      
} 









