.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header header header header nav-bar nav-bar"
    "header header header header header header header header header header nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "content content content content content content content content content content nav-bar nav-bar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.header { grid-area: header; }

.nav-bar { grid-area: nav-bar; }

.content { grid-area: content; }

.footer { grid-area: footer; }


html, body , .container {
  height: 100%;
  margin: 0;
}




* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins' , sans-serif;
}


body{
  background-image: url('techno9.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}

.logo{
  display: block;
  width: 550px;
  margin-left: 60px;
  margin-right: auto;
}

.container{
  display: grid;
  place-items: center; 
  height:100%;
}

 h2 {
  text-align: center;
    font-size: 30px;
    color: white;
   

}

.content {   
  text-align: center;
  margin: 20px auto;
  max-width: 700px;
  padding: 10px;
  color: white;

 
 }



.nav-bar {
  float: right;
  line-height: 50px;
  bottom: 50px;
  margin-right: 20px;
  margin-top:-140px;
    
}



.nav-bar ul {

      list-style: none;
      max-width: 600%;
      float: right;
 
}

.nav-bar ul li a {
text-decoration: none;      
display: flex;   
width: 200px;
bottom: 0; 
margin: 50px;
color: white;
border: none;
padding: 10px 5px;
justify-content: space-between;
border-color: border;
border-style: solid;
justify-content: center;
cursor: pointer;
transition: 0.7s ease;
margin-bottom: 5px;
overflow: hidden;
margin: 7px;
z-index: 1;
border-radius: 10px;

}
  li {

  text-align: center;
  cursor: pointer;
  transition: .7s ease;
  
  
  
  }

.nav-bar ul li a:hover {
  background-color: #015c88;
  transform: scale(1, 1);

}    

li:hover {
  transform: scale(1.1);
}



.button-container {

  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  bottom: 0;
  width: 999px;

}



.button {
  background-color: #001541;
  color: #0ef;
  border: none;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.7s ease;
  border-radius: 10px;
  border-color: #0ef;
  border-style: solid;
  text-decoration: none;
 margin: 40px;
}




.button-container .button:hover {
  color: #0ef;
  transform: scale(1.1);
}




.footer  {
  text-align: center;
  background-color: transparent;
  justify-content: center;
  color: white;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width:100%;
  font-weight: 600;
  margin-right: 150px;

}


@media screen and (max-width: 800px) {

  body {
    background-image: url('techno9.png');
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100%; 
    text-align: center;
    margin: 20px;
    overflow-x: hidden;
   
   
}

  
  .header .logo{
    width: 80%;
    position: absolute;
    right: 75px;
    top: 10px;
    }


  .nav-bar {
    position: absolute;
    margin: 420px;
    border-radius: 10%;
    bottom: 0;
    transform:  scale(0.6 , 0.9);
    margin-left: 450px;
   
  
  
  }
  nav a {
    text-decoration: none;
    color: #fff;
    max-width: 100%;
   
   
  }
  
  
  .nav-bar ul {
   list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  
  
  
  }
  
  .nav-bar  li {
    margin: 0px;
    
  }
  
  .nav-bar  li a {
   
    padding: 14px 16px;
    display: block;
    text-decoration: none;
    color: white; 
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin: 0px ;
  }
  
  .content h2 {
    font-size: 30px;
    color: #0ef;
    height: 100px;
    margin: -5px;
    margin-left: 80px;
  
  }
  
  .content p {
    width: 100%;
   height: 40px;
   margin-left: 35px;
   font-size: 17px;
    
  }


.footer {
  font-weight: 400;
  left: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: -15px;
 }

 .button {
  display: none;
 }

html, body , .container {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}



}


@media screen and (max-width: 600px) {
  
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      "content content content content content content content content content content content content"
      "content content content content content content content content content content content content"
      "content content content content content content content content content content content content"
      "content content content content content content content content content content content content"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }


  .header .logo{
    width: 90%;
    position: absolute;
    right: 25px;
    top: 10px;
    }
    
    body {
      background-image: url('techno9.png');
			background-size: cover;
			background-position: center;
			width: 100%; 
			height: 100%; 
			text-align: center;
			margin: 20px;
			overflow-x: hidden;
     
     
  }
 


  *{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.nav-bar {
  position: absolute;
  margin: 460px;
  border-radius: 10%;
  bottom: 0;
  transform:  scale(0.43 , 0.9);
  margin-left: 448px;
 


}
nav a {
  text-decoration: none;
  color: #fff;
  max-width: 100%;
 
 
}


.nav-bar ul {
 list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;



}

.nav-bar  li {
  margin: 0px;
  
}

.nav-bar  li a {
 
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  color: white; 
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px ;
}


    

    .content h2 {
      margin-right: 320px;
      font-size: 19px;
      color: #0ef;
      height: 40px;
      margin: -5px;
      margin-left: -305px;
      
    }
    
    .content p {
      width: 55%;
     height: 200px;
     margin-left: 5px;
     font-size: 15px;
      
    }

  
  .footer {
    font-weight: 600;
    font-size: 15px;
    top: 570px;
    margin-left: -40px;
   }
  
   .button {
    display: none;
   }
  
  html, body , .container {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

 
}

@media screen and (max-width: 450px) {
  .nav-bar{
    position: absolute;
    margin: 460px;
    border-radius: 10%;
    bottom: 0;
    transform:  scale(0.43 , 0.9);
    margin-left: 448px;
  }
  footer {
    top: -100px;
  }
  html, body , .container {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

}


@media screen and (max-width: 400px) {


  .header .logo{
    width: 90%;
    position: absolute;
    right: 25px;
    top: 10px;
    }
    
    body {
      background-image: url('techno9.png');
			background-size: cover;
			background-position: center;
			width: 100%; 
			height: 100%; 
			text-align: center;
			margin: 20px;
			overflow-x: hidden;
     
     
  }
 



.nav-bar {
  position: absolute;
  margin: 460px;
  border-radius: 10%;
  bottom: 0;
  transform:  scale(0.4 , 0.9);
  margin-left: 446px;
 


}
nav a {
  text-decoration: none;
  color: #fff;
  max-width: 100%;
 
 
}


.nav-bar ul {
 list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;



}

.nav-bar  li {
  margin: 0px;
  
}

.nav-bar  li a {
 
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  color: white; 
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px ;
}


    

    .content h2 {
      font-size: 18px;
      color: #0ef;
      height: 40px;
      margin: -5px;
      margin-left: -345px;
      
    }
    
    .content p {
      width: 50%;
     height: 200px;
     margin-left: -5px;
     font-size: 15px;
      
    }

  
  .footer {
    font-weight: 600;
    left: 30px;
   
   }
  
   .button {
    display: none;
   }
  
  html, body , .container {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

 
}


@media screen and (max-width: 320px ) {

  .header .logo{
    width: 90%;
    position: absolute;
    right: 5px;
    top: 10px;
    }
    
    body {
      background-image: url('techno9.png');
			background-size: cover;
			background-position: center;
			width: 100%; 
			height: 100%; 
			text-align: center;
			margin: 20px;
			overflow-x: hidden;
     
     
  }
 
  .content h2 {
    font-size: 17px;
    margin-left: -400px;
  }

.content p {
width: 45%;
font-size: 15px;
}


.nav-bar {
  position: absolute;
  margin: 460px;
  border-radius: 10%;
  bottom: 0;
  transform:  scale(0.34 , 0.9);
  margin-left: 448px;
 


}
nav a {
  text-decoration: none;
  color: #fff;
  max-width: 100%;
 
 
}


.nav-bar ul {
 list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;



}

.nav-bar  li {
  margin: 0px;
  
}

.nav-bar  li a {
 
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  color: white; 
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px ;
}


.footer {
  font-weight: 600;
  top: 609px;
  left: 40px;
  
 }
 html, body , .container {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

}




































.container1 {  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "header header header header header header header header header header nav-bar nav-bar"
	  "title title title title title title title title title title nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar";
  }
  
  .header1 { grid-area: header; }
  
  .nav-bar1 { grid-area: nav-bar; }
  
  .title1 { grid-area: title; }
  
  .content1 { grid-area: content; }
  
  
  html, body , .container1 {
	height: 100%;
	margin: 0;
  }


  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
	}



body{
	background-image: url('techno9.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	  }
	  



.logo1{
		display: block;
		width: 650px;
		margin-left: auto;
		margin-right: auto;
	  }
	  
 .container1{
		display: grid;
		place-items: center; 
		height:100%;
	  }


	  .nav-bar1 {
		float: right;
		line-height: 50px;
		 bottom: 50px;
		 margin-right: 20px;
		 margin-top:-140px;
		 
	 }
	 
	 
	 
	 .nav-bar1 ul {
	 
		   list-style: none;
		   max-width: 600%;
		   float: right;
	  
	 }
	 
	 .nav-bar1 ul li a {
	 text-decoration: none;      
	 display: flex;   
	 width: 200px;
	 bottom: 0; 
	 margin: 50px;
	 color: white;
	 border: none;
	 padding: 10px 5px;
	 justify-content: space-between;
	 border-color: border;
	 border-style: solid;
	 justify-content: center;
	 cursor: pointer;
	 transition: 0.7s ease;
	 margin-bottom: 5px;
	 overflow: hidden;
	 margin: 7px;
	 z-index: 1;
	 border-radius: 10px;
	 
	 }
	   li {
	 
	   text-align: center;
	   cursor: pointer;
	   transition: .7s ease;
	   
	   
	   
	   }
	 
	 .nav-bar1 ul li a:hover {
	   background-color: #015c88;
	   transform: scale(1, 1);
	 
	 }    
	 
	 li:hover {
	   transform: scale(1.1);
	 }
		 
  
  


.title1 {
	text-align: center;
	padding: 40px 0;
	max-width: 600;
	margin: 0 auto;
	font-size: 16px;
	color: white;
}





.timeline {
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
	top: 1050px;
}


.containerr {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	animation: movedown 0s linear forwards;
	opacity: 0;
}





@keyframes movedown {
0% {
	opacity: 1;
	transform: translateY(-30px);
}

100% {
	opacity: 1;
	transform: translateY(0px);
}

}





.text-box {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;

}


.left-containerr {
	left: 0;
}

.right-containerr {
	left: 50%;
}

.containerr img {
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 1;
}

.right-containerr img {
	left: -20px;
}

.timeline::after {
   content: '';
   position: absolute;
   width: 6px;
   height: 100%;
   background: #fff;
   top: 0;
   left: 50%;
   margin-left: -3px;
   z-index: -1;
  

}





.text-box h2 {
	font-weight: 600;
  color: black;
  font-size: 24px;
 
}


.text-box small {
	display: inline-block;
	margin-bottom: 15px;
}

.left-containerr-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid white;
	right: -15px;
}


.right-containerr-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
	left: -15px;
}


@media screen and (max-width: 800px) {
	.timeline{
		top: 1930px;
    
	}
  
}
	

@media screen and (max-width: 600px) {
	


	.container1 {  display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "header header header header header header header header header header header header"
		  "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
		  "title title title title title title title title title title title title"
		  "content content content content content content content content content content content content"
		  "content content content content content content content content content content content content"
		  "content content content content content content content content content content content content";
	  }
	  

	  

	  .header1 .logo{
		width: 100%;
		position: absolute;
		right: 5px;
		top: 10px;
		}
	

		body {
			background-image: url('techno9.png');
			background-size: cover;
			background-position: center;
			width: 100%; 
			height: 100%; 
			text-align: center;
			margin: 20px;
			overflow-x: hidden;
			
		}
	   
		*{
   
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Poppins", sans-serif;
			 }

           
			 .nav-bar1 {
				position: absolute;
				margin: 450px;
				width: 100%;
				padding: 10px 5px;
				border-radius: 10%;
				bottom: 0;
				transform:  scale(0.43 , 0.9);
				margin-left: 100px;
			   
			  
			  
			  }
			  nav a {
				text-decoration: none;
				color: #fff;
				max-width: 100%;
			   
			   
			  }
			  
			  
			  .nav-bar1 ul {
			   list-style-type: none;
				display: flex;
				flex-direction: row;
				padding: 0;
				margin: 0;
			  
			  
			  
			  }
			  
			  .nav-bar1  li {
				margin: 0px;
				
			  }
			  
			  .nav-bar1  li a {
			   
				padding: 14px 16px;
				display: block;
				text-decoration: none;
				color: white; 
				text-align: center;
				width: 100%;
				font-size: 20px;
				font-weight: 500;
				line-height: 120%;
				margin: 0px ;
			  }
			  

					  
   .title h1 { grid-area: title; 
					margin: 0 auto;
					font-size: 26px;
					color: #0ef;
					height: 60px;
			}
						  

   .content1 { grid-area: content;
			
			
				.timeline1 {
					margin: 5px;
				  }
				  .timeline::after{
					left: 31px;
				  }
				  .containerr {
					width: 100%;
					padding-left: 80px;
					padding-right: 25px;
				  }
				
				  .text-box {
					padding: 10px;
					font-size: 13px;
				  }
				  .text-box h2 {
					font-size:19px;
				  }
				
				   .text-box small {
					margin-bottom: 10px;
				   }
				 .right-containerr{
					left: 0;
				 }
				
			  .left-containerr img, .right-containerr img {
				left: 10px;
			  }
			
			.left-containerr-arrow {
				border-right: 15px solid white;
			border-left: 0;
			left: -16px;
			}

			.right-containerr-arrow {
				border-right: 15px solid white;
				left: -16px;
			}
		}

	  
   html, body , .container1 {
		height: 100%;
		margin: 0;
	  }
		
	
}
  
@media screen and (max-width: 450px) {
  .content1{
    position: absolute;
  }
	.timeline{
		top: 1000px;
	}

	.nav-bar1{
		margin-left: 660px;
		top: -320px;
	}



 
  html, body , .container1 {
		height: 100%;
		margin: 0;
  
	  }
  
}

@media screen and (max-width: 400px) {
  .content1 {
    position: absolute;
  }
	.timeline1{
		top: 1000px;
	}
 .title1{
  position: absolute;
  top: 210px;
 }

  html, body , .container1 {
		height: 110%;
		margin: 0;
  
	  }
}


@media screen and (max-width: 395px) {
  .timeline{
   
    top: 980px;
  }
  .content1{
    position: absolute;
  }
  html, body , .container1 {
		height: 60%;
		margin: 0;
  
	  }

}

@media screen and (max-width: 380px) {
  .timeline{
    top: 1100px;
  }
  .content1{
    position: absolute;
  }




  html, body , .container1 {
		height: 85%;
		margin: 0;
  
	  }

}


@media screen and (max-width:325px) {
.timeline{
	top: 1000px;
}
.nav-bar1{
	position: absolute;
	margin: 450px;
	width: 100%;
	border-radius: 10%;
	bottom: 0;
	transform:  scale(0.33 , 0.9);
	margin-left: 629px;
	
}

.content1{
  position: absolute;
}




html, body , .container1 {
  height: 100%;
  margin: 0;

  }
}





























.container2 {  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "header header header header header header header header header header nav-bar nav-bar"
	  "title title title title title title title title title title nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar"
	  "content content content content content content content content content content nav-bar nav-bar";
  }
  
  .header2 { grid-area: header; }
  
  .nav-bar2 { grid-area: nav-bar; }
  
  .title2 { grid-area: title; }
  
  .content2 { grid-area: content; }
  
  
  html, body , .container2 {
	height: 100%;
	margin: 0;
  }
  


  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
	}



body{
		background-image: url('techno9.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: Arial, Helvetica, sans-serif;
		overflow-x: hidden;
	  }
	  



.logo2{
		display: block;
		width: 650px;
		margin-left: auto;
		margin-right: auto;
	  }
	  
 .container2{
		display: grid;
		place-items: center; 
		height:100%;
	  }


	  .nav-bar2 {
		float: right;
		line-height: 50px;
		 bottom: 50px;
		 margin-right: 20px;
		 margin-top:-140px;
		 
	 }
	 
	 
	 
	 .nav-bar2 ul {
	 
		   list-style: none;
		   max-width: 600%;
		   float: right;
	  
	 }
	 
	 .nav-bar2 ul li a {
	 text-decoration: none;      
	 display: flex;   
	 width: 200px;
	 bottom: 0; 
	 margin: 50px;
	 color: white;
	 border: none;
	 padding: 10px 5px;
	 justify-content: space-between;
	 border-color: border;
	 border-style: solid;
	 justify-content: center;
	 cursor: pointer;
	 transition: 0.7s ease;
	 margin-bottom: 5px;
	 overflow: hidden;
	 margin: 7px;
	 z-index: 1;
	 border-radius: 10px;
	 
	 }
	   li {
	 
	   text-align: center;
	   cursor: pointer;
	   transition: .7s ease;
	   
	   
	   
	   }
	 
	 .nav-bar2 ul li a:hover {
	   background-color: #015c88;
	   transform: scale(1, 1);
	 
	 }    
	 
	 li:hover {
	   transform: scale(1.1);
	 }
	 
  
  
    
  
  


.title2 {
	text-align: center;
	padding: 40px 0;
	max-width: 600;
	margin: 0 auto;
	font-size: 16px;
	color: white;
}





.timeline {
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
	top: 1125px;

}


.containerr {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	animation: movedown 0s linear forwards;
	opacity: 0;
}





@keyframes movedown {
0% {
	opacity: 1;
	transform: translateY(-30px);
}

100% {
	opacity: 1;
	transform: translateY(0px);
}

}






.text-box {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;

}


.left-containerr {
	left: 0;
}

.right-containerr {
	left: 50%;
}

.containerr img {
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 1;
}

.right-containerr img {
	left: -20px;
}

.timeline::after {
   content: '';
   position: absolute;
   width: 6px;
   height: 100%;
   background: #fff;
   top: 0;
   left: 50%;
   margin-left: -3px;
   z-index: -1;
   animation: moveline 6s linear forwards;

}





.text-box h2 {
	font-weight: 600;
}


.text-box small {
	display: inline-block;
	margin-bottom:50px;
	font-weight: 600;
	margin-left: 200px;
	font-size: 15px;
}

.left-containerr-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid white;
	right: -15px;
}


.right-containerr-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
	left: -15px;
}


@media screen and (max-width: 800px) {
	.timeline2{
		top: 2500px;
	}
	.text-box small {
		margin-left: 100px;
	}
	.container2 {
		width: 92%;
	}
	
}
	

@media screen and (max-width: 600px) {
	


	.container2 {  display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "header header header header header header header header header header header header"
		  "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
		  "title title title title title title title title title title title title"
		  "content content content content content content content content content content content content"
		  "content content content content content content content content content content content content"
		  "content content content content content content content content content content content content";
	  }
	  

	  

	  .header2 .logo{
		width: 100%;
		position: absolute;
		right: 5px;
		top: 10px;
		}
	

		body {
			background-image: url('techno9.png');
			background-size: cover;
			background-position: center;
			width: 100%; 
			height: 100%; 
			text-align: center;
			margin: 20px;
			overflow-x: hidden;
			
		}
	   
		*{
   
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Poppins", sans-serif;
			 }

           
			 .nav-bar {
				position: absolute;
				margin: 450px;
				width: 100%;
				padding: 10px 5px;
				border-radius: 10%;
				bottom: 0;
				transform:  scale(0.43 , 0.9);
				margin-left: 100px;
			   
			  
			  
			  }
			  nav a {
				text-decoration: none;
				color: #fff;
				max-width: 100%;
			   
			   
			  }
			  
			  
			  .nav-bar2 ul {
			   list-style-type: none;
				display: flex;
				flex-direction: row;
				padding: 0;
				margin: 0;
			  
			  
			  
			  }
			  
			  .nav-bar2  li {
				margin: 0px;
				
			  }
			  
			  .nav-bar2  li a {
			   
				padding: 14px 16px;
				display: block;
				text-decoration: none;
				color: white; 
				text-align: center;
				width: 100%;
				font-size: 20px;
				font-weight: 500;
				line-height: 120%;
				margin: 0px ;
			  }
			  

					  
   .title2 h1 { grid-area: title; 
					margin: 0 auto;
					font-size: 26px;
					color: #0ef;
					height: 60px;
			}
						  

   .content2 { grid-area: content;
			
			
				.timeline {
					top: 1015px;
					margin-left: 20px;
				  }
				  .timeline::after{
					left: 31px;
				  }
				  .containerr {
					width: 100%;
					padding-left: 80px;
					padding-right: 25px;
				  }
				
				  .text-box {
					padding: 10px;
					font-size: 13px;
				  }
				  .text-box h2 {
					font-size:19px;
				  }
				
				   .text-box small {
					margin-bottom: 10px;
				   }
				 .right-containerr{
					left: 0;
				 }
				
			  .left-containerr img, .right-containerr img {
				left: 10px;
			  }
			
			.left-containerr-arrow {
				border-right: 15px solid white;
			border-left: 0;
			left: -16px;
			}

			.right-containerr-arrow {
				border-right: 15px solid white;
				left: -16px;
			}
		}

	  
   html, body , .container2 {
		height: 100%;
		margin: 0;
	  }
		
	
}
  
@media screen and (max-width: 450px) {
	.timeline2{
		top: 890px;
	}
	.content2{
		position: absolute;
	}
.title2{
	height: 650px;
	position: absolute;
}
	.nav-bar2{
		position: absolute;
		margin-left: 60px;
		top: 240px;
		transform: scale(0.4 , 0.9);

	}

	.text-box small {
		margin-left: 10px;
	}
	html, body , .container2 {
		height: 120%;
		margin: 0;
	  }

}

@media screen and (max-width: 385px) {
	
	.title2{
		height:250%;
	}
	.content2{
		position: absolute;
	}
	.title2{
		height: 950px;
	}

	.nav-bar2{
		transform: scale(0.38 , 0.9);
		margin-left: 50px;
	}

	.text-box small {
		margin-left: 10px;
	}
	html, body , .container2 {
		height: 130%;
		margin: 0;
	  }

}


@media screen and (max-width:325px) {
	.title2{
		height:380%;
		
	}
.content2{
	position: absolute;
	
}
.title2{
	height: 1700px;
}
	.nav-bar2{
		position: absolute;
		transform: scale(0.34 , 0.9);
		height: 480px;
		margin-left: 50px;
	}


.timeline2{
	position: absolute;
	top: 1000px;
}
html, body , .container2 {
	height: 150%;
	margin: 0;
  }
}




small {
  font-weight: 600;
  margin-left: 200px;
}